Cython
tqdm
torch
torchvision
torch-optimizer==0.0.1a12
pytorch-ranger==0.1.1
git+https://github.com/dwgoon/jpegio
catalyst==19.12.3
albumentations==0.4.5
timm==0.1.26
catboost
scikit-optimize
cv2
horovod==0.19.1
tensorflow-gpu==1.14.0
git+https://github.com/mapillary/inplace_abn.git@v1.0.12
oct2py
git+https://github.com/BloodAxe/pytorch-toolbelt.git@develop